@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
.container{
    margin: 50px auto;
    width: 90%;
    max-width: 400px;
    background: rgb(214, 214, 214);
    padding: 20px 0;
}
button{
    padding: 5px 7px;
    border: none;
    border-radius: 4px;
}
button[name='status']{
    background: rgb(48, 226, 48);
    margin-right: 2px;
}
button[name='remove']{
    background: rgb(230, 28, 28);
}
button[type='submit']{
    background: rgb(9, 69, 179);
    float: right;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    color: wheat;
}
.container ul{
    width: 90%;
    margin: 0 auto;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 15px 10px;
    border: solid 1px rgb(196, 191, 191);
    font-weight: bold;
}
.taskSubmit{
    width: 90%;
    margin: 30px auto 10px; 
}
input{
    width: 100%;
    border: none;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
}
li.statusDone{
    background: rgb(131, 222, 235);
}